head
  title World Cup
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width')
  meta(name = 'author' content = 'WF-ECG INTERACTIVE')
  // static
  link(rel='canonical'
    href='http://ecg.hosting.wellsfargo.com/x/index.html')
  meta(property='og:title'
    content='Wells Fargo / Soccer')
  meta(property='og:description'
    content='x.')
  meta(property='og:url'
    content='http://ecg.hosting.wellsfargo.com/x/index.html')
  meta(property='og:image'
    content='http://ecg.hosting.wellsfargo.com/x/images/icons/x.svg')
  meta(property='og:type'
    content='website')
  // css
  link(href='./fonts/archer.ssm.css' rel='stylesheet' media='all')
  link(href='./styles/main.css' rel='stylesheet' media='all')
  //
  script(src='./vendors/require.js/require.js' data-main='./config')
